.home {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home__logo {
	color: var(--fontColor1);
	margin-top: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5vmin;
	font-weight: 900;
	text-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
	user-select: none;

	h1 {
		margin: 0;
	}

	svg {
		font-size: 13vmin;
	}
}

.home__search {
	background-color: var(--backgroundColor2);
	width: 80vmin;
	max-width: 90vw;
	padding: 10px 20px;
	border-radius: 15px;
	box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
	transition: all 0.2s ease-in-out;
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	margin-top: 10vh;

	input {
		background-color: transparent;
		border: none;
		outline: none;
		flex: 1;
		font-size: 1.5rem;
		width: 100%;
		color: var(--fontColor2);
	}

	.MuiIconButton-root {
		color: var(--fontColor2);
	}
}

@media (max-width: 500px) {
	.home__search {
		padding: 5px 10px;
		border-radius: 15px;
		font-size: 1rem;
		margin-top: 10vh;

		input {
			font-size: 1rem;
		}

		.MuiIconButton-root {
			color: var(--fontColor2);
		}
	}
}
